<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_tag sessions_path do %>

        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email] %>

        <%= label_tag :password %>
        <%= password_field_tag :password %>

        <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
       <% end %>




		<p>New user? <%= link_to "Sign up now!", signup_path %></p> 
	</div>
</div>